<p id="notice"><%= notice %></p>

<p>
  <strong>Foro:</strong>
  <%= @forum.name %>
</p>


<h2>Posts existentes</h2>
<% @forum.posts.each do |post| %>
  <p>
    <b>Titulo:</b>
    <%= post.title %>
  </p>
  <p>
	<%= link_to 'Ver', post %> |
    <%= link_to 'Eliminar', post,  method: :delete, data: { confirm: 'Estas seguro?' } %>
  </p>
  
 
<% end %>

<h2>Añade un post:</h2>
<%= form_for([@forum, @forum.posts.build]) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_area :title %>
  </div>
   <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Editar foro', edit_forum_path(@forum) %> |
<%= link_to 'Volver a los foros', forums_path %>
