<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @forum.name %>
</p>


<h2>Posts</h2>
<% @forum.posts.each do |post| %>
  <p>
    <b>Titulo:</b>
    <%= post.title %>
    <%= link_to 'Edit', edit_post_path(post) %>
  </p>
 
<% end %>

<h2>Add a post:</h2>
<%= form_for([@forum, @forum.posts.build]) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_area :title %>
  </div>
   <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Edit', edit_forum_path(@forum) %> |
<%= link_to 'Back', forums_path %>
