<div class="container">

  <p id="notice"><%= notice %></p>

  <p id="titlesForum">
    <%= @forum.name %>
  </p>
  <h4> Descripción del foro </h4>
  <h5><%= @forum.description %></h5>
  <% sub_count = subscriptores(@forum).length %>
  <% if sub_count == 1 %>
    <p class="btn pull-right" id="sub_count"><%= sub_count %> suscriptor </p>
  <% else %>
    <p class="btn pull-right" id="sub_count"><%= sub_count %> suscriptores </p>
  <% end %>


  <% if not @forum.posts.any? %>
    <h4>No hay ningun post creado!</h4>
    <h4>Se el primero!</h4>
    <% if not user_signed_in? %>
    <%= link_to "Registrarse", new_user_registration_path, :class => 'navbar-link'  %>
    o
    <%= link_to "Ingresar", new_user_session_path, :class => 'navbar-link'  %>
      para crear posts!
    <% end %>    
  <% end %>


  <div style="background-color: white;padding: 30px 30px 30px 30px;">
  <% @forum.posts.each do |post| %>
      <%= render 'index/todos_los_post', post: post, mi_tipo: "cada_post_2"%>
  <% end %>
  </div>

    

  <% if user_signed_in? %> 
    <%= form_for([@forum, @forum.posts.build]) do |f| %>
      <div class="field">
        <%= f.text_field :name, value: current_user.username, style: "#{'display:none';}" %><br />
        <%#= f.text_field :name %>
      </div>
      <div class="field">
        <div align="left">
          <strong><em>
          Nuevo post
          </em></strong>
        </div>
        <%= f.label :title %><br />
        <%= f.text_area :title %>
      </div>
       <div class="field">
        <%= f.label :content %><br />
        <%= f.text_area :content %>
      </div>
      <div class="field">
        <%= f.label :image %><br>
        <%= f.file_field :image %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>




    <!-- PARTE MODERADORES -->
    <% if user_signed_in? and not current_user.admin? %>

    <%  if moderadores(@forum).include? current_user.id %>
      <p id="postulate_text"> Eres moderador </p>
      <a id="action_postulate" onclick="unmoderate(<%=Moderator.find_by(:user_id => current_user.id, :forum_id => @forum.id).id%>, <%=current_user.id%>, <%=@forum.id%>)">Dejar de ser moderador</a>

      <% elsif points_user(@forum, current_user) >= 5 and not esta_postulando(current_user, @forum)%>
      <p id="postulate_text"> Podrias ser moderador de este foro! </p>
      <%#= link_to "Postular", postulations_path(:user_id => current_user.id, :forum_id => @forum.id), :method => :post%>
      <a id="action_postulate" onclick="postulate(<%=current_user.id%>, <%=@forum.id%>)">Postular </a>
      <% elsif points_user(@forum, current_user) >= 5 and esta_postulando(current_user, @forum)%>
      <p> Ya estas postulando para ser moderador de este foro!  </p>
      
      <% end %>
    <% end %> 
    <% end %>

  <% if user_signed_in? and current_user.admin? %>
    <%= link_to 'Editar foro', edit_forum_path(@forum) %> |
  <% end %>


  

  

</div>
