<div class="container">

  <p id="notice"><%= notice %></p>

  <p id="titlesForum">
    <%= @forum.name %>
  </p>



  <% if not @forum.posts.any? %>
    <h4>No hay ningun post creado!</h4>
    <h4>Se el primero!</h4>
    <% if not user_signed_in? %>
    <%= link_to "Registrarse", new_user_registration_path, :class => 'navbar-link'  %>
    o
    <%= link_to "Ingresar", new_user_session_path, :class => 'navbar-link'  %>
      para crear posts!
    <% end %>    
  <% end %>


  <% @forum.posts.each do |post| %>
    <div class="container">
      <div class="row">
        <div class="col-sm-12"></div>
      </div>
      <div class="row">
        <div class="col-sm-1">
          <div class="thumbnail">
            <%= image_tag(User.find_for_authentication(:username => post.name).avatar.url , :alt => "user view") %>
          </div>
        </div>
        <div class="col-sm-10">
          <div class="panel panel-default">

            <div class="panel-heading">
              <strong><%= post.name %></strong>
              <span class="text-muted">
                Hace <%= time_ago_in_words (Time.now - post.created_at).seconds.from_now %> 
              </span>
              <em>
                <span style="float: right; " class="text-muted">
                  <% if user_signed_in? and current_user.username == post.name %>
                    |<%= link_to 'Editar', edit_post_path(post) %>|
                    <%= link_to 'Eliminar', [post.forum, post],
                     :confirm => '¿Estas seguro que deseas borrarlo?',
                     :method => :delete %>
                  <% end %>
                </span>
                <span style="float: right; " class="text-muted">
                  <%= link_to 'Ver', post %>
                </span>
              </em>
            </div>

            <div class="panel-body">
              <%= link_to post.title, post %>
            </div>

          <div class="panel-footer">
            <span style="float: left;" class="text-muted">
              <em><%= post.comments.count %> comentario(s)</em>
            </span>
            <span style="float: right;" class="text-muted">
              <a id = "countlike" onclick="like(<%=post.id%>)">Like</a>
              <a id = "countdislike" onclick="dislike(<%=post.id%>)">Dislike</a>
            </span>
            <div style="text-align: center;" class="text-muted">
              Se tiene
              <span class="post-points">
              <%= post.points %>
              </span> 
              puntos //
              <span class="votes-like-count" id="vote_<%= post.id %>">
                <%= post.get_likes.size%>
              </span>
              likes //
              <span class="votes-dislike-count" id="vote_<%= post.id %>">
                <%= post.get_dislikes.size%>
              </span>
              dislikes
            </div>

          </div>
        </div>
      </div>
    </div>
  <% end %>

    
  <% if user_signed_in? %> <!-- Quitar el # de lo anterior para que solo el usuario cree un post-->
    <!-- <h2>Añade un post:</h2> -->
    <%= form_for([@forum, @forum.posts.build]) do |f| %>
      <div class="field">
        <%= f.text_field :name, value: current_user.username, style: "#{'display:none';}" %><br />
        <%#= f.text_field :name %>
      </div>
      <div class="field">
        <div align="left">
          <strong><em>
          Nuevo post
          </em></strong>
        </div>
        <%= f.label :title %><br />
        <%= f.text_area :title %>
      </div>
       <div class="field">
        <%= f.label :content %><br />
        <%= f.text_area :content %>
      </div>
      <div class="field">
        <%= f.label :image %><br>
        <%= f.file_field :image %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  <% end %>  <!-- Quitar el # de lo anterior para que solo el usuario cree un post-->

  <% if user_signed_in? and current_user.admin? %>
    <%= link_to 'Editar foro', edit_forum_path(@forum) %> |
  <% end %>

</div>
