<p id="notice"><%= notice %></p>

<p>
  <strong>Foro:</strong>
  <%= @forum.name %>
</p>


<h2>Posts existentes</h2>

<% @forum.posts.each do |post| %>
  <div class="container">
    <div class="row">
      <div class="col-sm-12"></div>
    </div>
    <div class="row">
      <div class="col-sm-1">
        <div class="thumbnail">
          <img class="img-responsive user-photo" src="">
        </div>
      </div>
      <div class="col-sm-10">
        <div class="panel panel-default">

          <div class="panel-heading">
            <strong><%= post.name %></strong>
            <span class="text-muted">
              Hace <%= time_ago_in_words (Time.now - post.created_at).seconds.from_now %> 
            </span>
            <span style="float: right; " class="text-muted">
              <% if current_user.username == post.name %>
               |<%= link_to 'Eliminar', [post.forum, post],
                 :confirm => '¿Estas seguro que deseas borrarlo?',
                 :method => :delete %>
              <% end %>
            </span>
            <span style="float: right; " class="text-muted">
              <%= link_to 'Ver', post %>
            </span>
          </div>

          <div class="panel-body">
            <%= post.content %>
          </div>

          <div class="panel-footer">
            <em>Hay <%= post.comments.count %> comentario(s)</em>
            <span style="float: right;" class="text-muted">
              like | dislike
            </span>
          </div>

        </div>
      </div>
    </div>
  </div>
<% end %>

  
<% if current_user.username != "guest" %> <!-- Quitar el # de lo anterior para que solo el usuario cree un post-->
  <h2>Añade un post:</h2>
  <%= form_for([@forum, @forum.posts.build]) do |f| %>
    <div class="field">
      <%= f.text_field :name, value: current_user.username, style: "#{'display:none';}" %><br />
      <%#= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_area :title %>
    </div>
     <div class="field">
      <%= f.label :content %><br />
      <%= f.text_area :content %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>  <!-- Quitar el # de lo anterior para que solo el usuario cree un post-->

<% if current_user.admin? %>
  <%= link_to 'Editar foro', edit_forum_path(@forum) %> |
<% end %>
<%= link_to 'Volver a los foros', forums_path %>
