<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="display: none;">
    <%= form.text_field :name, id: :post_name %>
  </div>

  <div class="field">
    <div class="form-group">
        <%= form.text_field :title, id: :post_title, class: 'form-control', placeholder: 'Titulo' %>
      </div>
    
  </div>

  <div class="form-group">
        <%= form.text_area :content, class: 'form-control', placeholder:'Contenido' %>
  </div>
  
  <div class="field">
    <% if form.object.image? %>
      <%= image_tag form.object.image.thumb.url %>
      <%= form.label :remove_image %>
      <%= form.check_box :remove_image %> 
    <% end %>
  </div>

  <div class="field">
    <%= form.file_field :image %>
  </div>

  <%#= form.fields_for :polls do |builder| %>
    <%#= render "polls/polls_fields", :f => builder %>
  <%# end %>
  <%#= link_to_add_fields "Add Poll", form, :polls %>

  <label class="btn btn-primary">
    Submit
    <span style="display:none;">
      <%= form.submit  %>
    </span>
  </label>
        
<% end %>
