<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @postulation.user_id %>
</p>

<p>
  <strong>Forum:</strong>
  <%= @postulation.forum_id %>
</p>

<%= link_to 'Edit', edit_postulation_path(@postulation) %> |
<%= link_to 'Back', postulations_path %>
