<!--<form action="/fav/1/1" method="POST">

  <input type="submit" name="param1" value="val" />

</form>-->


<% if user_signed_in? %>
  <div id="notifications">
    <%#= render 'notifications/show', notifications: current_user.all_notifications %> 
  </div>
  <div class="row-fluid">
      <div class="col-md-3" id="dashboardSubsripciones" >

        <div class="row" style="background-color: white; border-radius: 5px;padding: 5px 5px 5px 0px ;">
			<%= form_tag(searches_path, :method => "get", id: "search-form", class: "seacrh") do %>
			<div id="custom-search-input" style="border: none;">
			    <%=select_tag :option, options_for_select([["Usuario", "user"], 
			    										   ["Publicación", "post"], 
			    										   ["Foro", "forum"], 
			    										   ["Comentario", "comment"]]),
				     id: "boton_search",
			    	:class => "btn btn-secondary"%>
			    <%= text_field_tag :search, params[:search], placeholder: "Escribe aquí ", id: "search_form"%>
			    <span>
			        <button type="button">
			            <%= submit_tag "Buscar", :name => nil, :class=>"btn", style: "#{'display:none';}"%>
			        </button>  
			    </span>
			</div>
			<% end %>
          </div>

        
                  

        <div class="row" style="background-color: white; margin-top: 20px; padding: 10px 10px 10px 10px; border-radius: 5px;">
        <a href="../stats"><h3 id="titulo_sub" ">Estadísticas</h3></a>
        <% if subscripciones(current_user).any? %> 
          <h3 id="titulo_sub"">Subscripciones</h3>
          <table class="table table-striped" style="width: 100%;">
            <tbody style="height: 100%; max-height: 200px; overflow-y: auto; display: block;">
              <% subscripciones(current_user).each do |sub| %>
                
              <tr style="display: block;">
                <td style="text-align: center; display: block;"><%= link_to Forum.find(sub).name, Forum.find(sub), :id => 'link_sub'  %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>


        <% if moderaciones(current_user).any? %>
          <h3 id="titulo_sub" ">Foros que moderas</h3>
          <table class="table table-striped" style="width: 100%">
            <tbody style="height: 100%; max-height: 200px; overflow-y: auto; display: block;">
              <% moderaciones(current_user).each do |sub| %>
                
              <tr style="display: block;">
                <td style="text-align: center;display: block;"><%= link_to Forum.find(sub).name, Forum.find(sub), :id => 'link_sub'  %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
        


        <a href="/forums"><h3 id="titulo_sub" ">Todos los foros</h3></a>
        <table class="table table-striped" style="width: 100%">
            <tbody style="height: 100%; max-height:200px; overflow-y: auto; display: block;">
              <% Forum.all.each do |forum| %>
                
              <tr style="display: block;">
                <td style="text-align: center;display: block;"><%= link_to forum.name, forum, :id => 'link_sub'  %></td>
              </tr>
              <% end %>
            </tbody>
        </table>

      </div>

        </div>
      </div>

      <!-- PARTE POSTS -->
      <div class="col-md-8" id="dashboardPostInicio">
        
        <h3 id="titulo_sub">Lo mas reciente</h3>

        <% if subscripciones(current_user).any? %> 
        <!-- USUARIO TIENE SUBSCRIPCIONES -->
          <% posts = Post.order(created_at: :desc).all.paginate(page: params[:page], per_page: 5) %>
          <% posts.order(created_at: :desc).all.each do |post| %>
            <%= render 'index/todos_los_post', post: post, mi_tipo: "cada_post_1"%>
          <% end %>

        <% else %>
         <!-- NO TIENE NINGUNA SUBSCRIPCION, POR AHORA SE MUESTRA DE TODOS LOS FOROS IGUAL -->
          <% posts = Post.order(created_at: :desc).all.paginate(page: params[:page], per_page: 5) %>
          <% posts.each do |post| %>
            <%= render 'index/todos_los_post', post: post,  mi_tipo: "cada_post_1"%>
          <% end %>
        <% end %>

      <div class="col-md-4 col-md-offset-4"><%= will_paginate posts %></div>
      </div>
  </div>
       
<% else %>
<!-- GUEST -->
<div class="row-fluid">

      <div class="col-md-3" id="dashboardSubsripciones" >

          <div class="row" style="background-color: white; border-radius: 5px;padding: 5px 5px 5px 0px ;">
			<%= form_tag(searches_path, :method => "get", id: "search-form", class: "seacrh") do %>
			<div id="custom-search-input" style="border: none;">
			    <%=select_tag :option, options_for_select([["Usuario", "user"], 
			    										   ["Publicación", "post"], 
			    										   ["Foro", "forum"], 
			    										   ["Comentario", "comment"]]),
				     id: "boton_search",
			    	:class => "btn btn-secondary"%>
			    <%= text_field_tag :search, params[:search], placeholder: "Escribe aquí ", id: "search_form"%>
			    <span>
			        <button type="button">
			            <%= submit_tag "Buscar", :name => nil, :class=>"btn", style: "#{'display:none';}"%>
			        </button>  
			    </span>
			</div>
			<% end %>
          </div>

        
                  

        <div class="row" style="background-color: white; margin-top: 20px; padding: 10px 10px 10px 10px; border-radius: 5px;">
        <!--<a href="../stats"><h3 id="titulo_sub" ">Estadísticas</h3></a>-->
        <a href="/forums"><h3 id="titulo_sub" ">Todos los foros</h3></a>
        <table class="table table-striped" style="width: 100%;">
            <tbody style="height: 100%; max-height: 200px; overflow-y: auto; display: block;">
              <% Forum.all.each do |forum| %>
                
              <tr style="display: block;">
                <td style="text-align: center; display: block;"><%= link_to forum.name, forum, :id => 'link_sub'  %></td>
              </tr>
              <% end %>
            </tbody>
        </table>
        </div>
      </div>

    <div class="col-md-8" id="dashboardPostInicio" >
      <h3 id="titulo_sub" ">Lo mas reciente</h3>
      <% posts = Post.order(created_at: :desc).all.paginate(page: params[:page], per_page: 5) %>
      <% posts.each do |post| %>
        <%= render 'index/todos_los_post', post: post,  mi_tipo: "cada_post_1"%>
      <% end %>
      <div class="col-md-5 col-md-offset-5"><%= will_paginate posts %></div>
      </div>

    </div>
  
  
</div>
<% end %>












