<h1> Perfil de usuario </h1>


<% current_user.forums.each do |forum| %>
  <li> <%= link_to forum.name, forum %></li>
<% end %>

<table class=" table table-striped" data-sort-name="name" data-sort-order="desc">

	  <tbody>
	    <tr>
	      <td>Usuario</td>
	      <td><%= @user.username %></td>
	    </tr>
	    <tr>
	      <td>Correo electrónico</td>
	      <td><%= @user.email %></td>
	    </tr>
	    <tr>
	      <td>Puntos</td>
	      <td><%= @user.points %></td>
	    </tr>
	    <tr>
	      <td>Votos realizados</td>
	      <td><%= @user.votes.up.size + @user.votes.down.size %></td>
	    </tr>
		<tr>
	      <td>Likes realizados</td>
	      <td><%= @user.votes.up.size %></td>
	    </tr>
	    <tr>
	      <td>Dislikes realizados</td>
	      <td><%=  @user.votes.down.size %></td>
	    </tr>
	  </tbody>
	</table>

<br>