<%= form_with(model: poll, local: true) do |form| %>
  <% if poll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(poll.errors.count, "error") %> prohibited this poll from being saved:</h2>

      <ul>
      <% poll.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :poll_title %>
  </div>

  <!--<div class="field">
    <%#= form.label :post_id %>
    <%#= form.number_field :post_id, id: :poll_post_id %>
  </div>-->
  <%= form.hidden_field :post_id, :value => 1 %>

  <%#= link_to "Añadir opcion", new_question_path(poll_id: poll.id) %>
  <!--<p><%#= link_to_add_fields "Add Question", f, :questions %></p>-->
  <%#= form.fields_for :questions do |builder| %>
    <%#= render "question_fields", :form => builder %>
  <%# end %>
  <%= form.fields_for :questions do |ff| %>
  <div>
    <%= ff.label :content %>
    <%= ff.text_field :content %>
  </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
