<p>
  <strong>Title:</strong>
  <%= @poll.title %>
</p>

<p>
  <strong>Post:</strong>
  <%= @poll.post_id %>
</p>
<% attempt = @poll.attempts.where(user_id: 1).first %>
<% if attempt %>
  <% @poll.questions.each do |q| %>
    <p><%= q.content %></p>
  <% end %>
<% else %>
  <%= render 'attempts/form', attempt: @attempt %>
<% end %>

<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
