<p>
  <strong>Title:</strong>
  <%= @poll.title %>
</p>

<p>
  <strong>Post:</strong>
  <%= @poll.post_id %>
</p>

<p>
  <strong>Content:</strong>
  <% @poll.questions.each do |q| %>
  <%= q.content %>
  <% end %>
</p>

<%= render 'attempts/form', attempt: @attempt %>

<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
