<p id="notice"><%= notice %></p>

<p>
  <strong>Id user:</strong>
  <%= @subscription.user_id %>
</p>

<p>
  <strong>Id forum:</strong>
  <%= @subscription.forum_id %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
