<div class="container">

  <div class="media" id = "cada_post_1" style="background-color: white;padding: 1em 1em 1em 1em; margin-bottom: 1em; margin-top: 1em; border-radius: 5px;">
    <div class="row">
    <div class="media-left media-top" >
      <!-- <img src="img_avatar1.png" class="media-object" style="width:60px"> -->
      <% user = User.find_for_authentication(:username => @post.name) %>
      <% if user.nil? %>
        <%= image_tag("default-user-image.png", :alt => "user view", :size => "60x60") %>
      <% else %>
        <%= image_tag(user.avatar.url , :alt => "user view", :size => "60x60") %>
      <% end %>
    </div>
    <div class="media-body" style="text-align: '.' start;">
      <h4 class="media-heading" >
          <div id="container" >
            <div id="con_1" style="overflow-wrap:break-word;"> 
              <%= link_to @post.title, @post, :id => "link_normal" %> </div>
            <div id="con_2"> <i><small><%= time_ago_in_words (Time.now - @post.created_at).seconds.from_now %> ago by <%= @post.name %></small></i></div>
        </div>
      </h4>
      </br>
      <div class="row"></div>

      <p><%= markdown(@post.content) %></p>
      <p><%= image_tag @post.image.medium%></p> <!-- entrega la imagen uploaded-->
      <% if @poll %>
        <p style="margin-right: 0px;">
          <%= render :template => "polls/show", locals: {:poll => @poll, votable: true} %></p>
      <% end %>
    </div>
    <div class="media-right media-top">
      <div id="con_4" style="width: 100px">
        <small>
        <% if user_signed_in? %> 
          <% if current_user.username == @post.name %>

                <%= link_to 'Editar', edit_post_path(@post), 
                      :id => "link_normal"%>
                |
                  <%= link_to 'Eliminar', [@post.forum, @post],
                   :confirm => '¿Estas seguro que deseas borrarlo?',
                   :method => :delete,
                   :id => "link_normal"
                    %>

           <% elsif  current_user.admin? or moderadores(@post.forum).include? current_user.id %>
                <%= link_to 'Editar', edit_post_path(@post),
                          :id => "link_normal" %>
                |
                  <%= link_to 'Eliminar', [@post.forum, @post],
                   :confirm => '¿Estas seguro que deseas borrarlo?',
                   :method => :delete,
                    :id => "link_normal" %>
            <% end %>
          <% end %>
          </small>

        </div>
    </div>
    </div>
    <div class="row">
      <div class="media-left"></div>
      <div class="media-body">
        <h5>
          <div id="container" onclick="window.event.stopPropagation();">
            <div id="con_1"> <em><%= @post.comments.count %> comentario(s)</em></div>
            <div id="con_4"> 
              <% if user_signed_in? %>
                  Total
                  <span class="post-points" id="points-vote-<%= @post.id %>">
                  <%= @post.points %>
                  </span> 
                <% favorite = Favorite.find_by(:user_id => current_user.id, :post_id => @post.id) %>
                <% if favorite %>
                  <a id = "dar_favorito" onclick="unfav(<%=favorite.id %>, <%=current_user.id%>, <%=@post.id%>)">
                    <span class="corazon_apretado" onclick="cambiar_clase_corazon(this)">
                    &#9829;
                    </span>
                  </a> 
                <% else %>
                  <a id = "dar_favorito" onclick="fav(<%=current_user.id%>, <%=@post.id%>)">
                    <span class="corazon_no_apretado" onclick="cambiar_clase_corazon(this)">
                    &#9829;
                    </span>
                  </a> 
                <% end %> 
                
                <a id = "countlike" onclick="like(<%=@post.id%>)" class = "asa"> 
                  &#128077;
                  <span class="votes-like-count " id="likes-vote-<%= @post.id %>">
                    <%= @post.get_likes.size%>
                  </span>
                </a>
                <a id = "countdislike" onclick="dislike(<%=@post.id%>)"  class = "asa"> 
                  &#128078;
                  <span class="votes-dislike-count" id="dislikes-vote-<%= @post.id %>">
                    <%= @post.get_dislikes.size%>
                  </span>
                </a>
              <% else %>
              <p onclick="window.event.stopPropagation();">Total
              <%=  @post.points %>
              &#128077;<%= @post.get_likes.size%>
              &#128078;<%= @post.get_dislikes.size%>
              </p>
                
              <% end %>
            </div>
          </div>
        </h5>
      </div>
    </div>
  </div>

  <% if user_signed_in? %>  <!-- Para crear un comentario -->
    <div class="media" id="comentario_nuevo" style="background-color: white;padding: 1em 1em 1em 1em; margin-bottom: 1em; margin-top: 1em; border-radius: 5px;">
      <%= form_for([@post, get_comment()]) do |f| %>
        <div class="field">
          <%= f.text_field :commenter, value: current_user.username, style: "#{'display:none';}" %>
        </div>

        <div class="form-group">
          <%= f.text_area :body, class: 'form-control', placeholder:'Contenido', id: 'form_nuevo_comentario' %>
        </div>
        
        <div class="row">
          <div class="col-sm-6">
            <%= f.file_field :image %>
          </div>
          <div class="col-sm-6">
            <label class="btn btn-primary btn-sm pull-right">
              Submit
              <span style="display:none;">
                <%= f.submit  %>
              </span>
            </label>
          </div>
        </div>          

      <div onclick="cambiaVisibilidad()"><a id="accionar" class="link_normal"><%= markdown('Esta página soporta _sintaxis_ de _**Markdown**_') %></a></div>
      <div style="display:none;" id="markdown_hide">
        <div class="row-fluid" style="text-align: left;">
         <%= markdown('
## Funcionalidades
---
Markdown es un formato de estilo muy popular debido a su alta flexibilidad, con el que

1. Se
2. pueden
3. hacer
4. listas

O [links (sí, _es clickeable_)](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet), junto con **negritas**, _cursivas_, ~~tachar~~, o ~~_**todas**_~~, entre otras cosas... (además de poder hacer un pie de página ^1 )

# Se pueden hacer títulos...
## ...subtítulos...
### ...y subsubtítulos!

También se puede 
```console.log("implementar código")
```
^1 Este [**link**](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet) contiene una guía completa de cómo utilizar este **fabuloso formato**')%>
     </div>


      <% end %>
    </div>
  <% end %>

  <% if @post.comments.any? %>
    <div class="media" id="todos_los_comentarios"> <!--   Donde van los comentarios-->


      <% @post.comments.order(created_at: :desc).each do |comment| %>

        <% if comment.body? %>
          
          <div class="row" id="cada_comentario">
            <div class="row">
            <div class="col-sm-1" >
                <% user = User.find_for_authentication(:username => comment.commenter) %>
                <% if user.nil? %>
                  <%= image_tag("default-user-image.png", :alt => "user view", :size => "50x50") %>
                <% else %>
                  <%= image_tag(user.avatar.url , :alt => "user view", :size => "50x50") %>
                <% end %>
            </div>
            <div class="col-sm-9">
              <div class="row fluid">
              <i><small><%= time_ago_in_words (Time.now - comment.created_at).seconds.from_now %> ago by <%= comment.commenter %></small></i>
              </div>
              <div class="row fluid">
              <p><%= markdown(comment.body) %></p>
              <p><%= image_tag comment.image.medium %></p>
              </div>
              
            </div>
            <div class="col-sm-2">
              <div class="row-fluid" style="margin-left: 60px">
                <a></a>
                <% if user_signed_in? %>
                  <% if  current_user.username == comment.commenter %>
                    <%= link_to 'Editar | ', edit_post_comment_path(@post, comment),:class => 'link_normal' %>
                    <%= link_to 'Borrar', [comment.post, comment],
                     :confirm => '¿Estas seguro que deseas borrarlo?',
                     :class => 'link_normal',
                     :method => :delete %>

                  <% elsif  current_user.admin? or moderadores(@post.forum).include? current_user.id %>
                    <%= link_to 'Borrar', [comment.post, comment],
                     :confirm => '¿Estas seguro que deseas borrarlo?',
                     :class => 'link_normal',
                     :method => :delete %>
                  <% end %>
                <% end %>
              </div>
            </div>
            </div>
            <div class="row">
              <div id="con_1"></div>
              <div id="con_3"></div>
              <div id="con_4" style="margin-right: 30px">
                <% if user_signed_in? %>
                  Total
                  <span class="c-post-points" id="c-points-vote-<%= comment.id %>">
                     <%= comment.points %>
                  </span> 
                  <a id = "countlike" onclick="clike(<%=comment.id%>)" class="asa"> 
                    &#128077;
                    <span class="c-votes-like-count" id="c-likes-vote-<%= comment.id %>">
                      <%= comment.get_likes.size%>
                    </span>
                  </a>
                  <a id = "countdislike" onclick="cdislike(<%=comment.id%>)" class="asa"> 
                    &#128078;
                    <span class="c-votes-dislike-count" id="c-dislikes-vote-<%= comment.id %>">
                      <%= comment.get_dislikes.size%>
                    </span>
                  </a>
                <% else %>
                  Total
                  <span class="c-post-points" id="c-points-vote-<%= comment.id %>">
                     <%= comment.points %>
                  </span> 
                    &#128077;
                    <span class="c-votes-like-count" id="c-likes-vote-<%= comment.id %>">
                      <%= comment.get_likes.size%>
                    </span>
                    &#128078;
                    <span class="c-votes-dislike-count" id="c-dislikes-vote-<%= comment.id %>">
                      <%= comment.get_dislikes.size%>
                    </span>

                <% end %>


              </div>
            </div>
            
          </div>

        <% end %>
      <% end %>


    </div> <!--   Donde van los comentarios -->
  <% end %>

  
</div> 