<p id="notice"><%= notice %></p>
 
<p>
  <b>Nombre:</b>
  <%= @post.name %>
</p>
 
<p>
  <b>Título:</b>
  <%= @post.title %>
</p>
 
<p>
  <b>Contenido:</b>
  <%= @post.content %>
</p>
<p>
  <b>Votos:</b>
  <% @post.increment(:votes) %>  <!-- lo aumenta en 1 -->
  <%= @post.votes %>
</p>

<h2>Comentarios</h2>
<table class="table" width="100%">
  <thead>
    <tr>
      <th scope="col">Autor</th>
      <th scope="col">Comentario</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.comment.each do |comment| %>
      <tr>
        <th scope="row"></th>
        <td><%= comment.commenter %></td>
        <td><%= comment.body%></td>
        <td><%= link_to 'Borrar comentario', [comment.post, comment],
               :confirm => '¿Estas seguro que deseas borrarlo?',
               :method => :delete %></td>      
      </tr>
  </tbody>
  <% end %>
</table>
 
<% if current_user.username != "guest" %>  <!-- Quitar el # de lo anterior para que solo el usuario cree un post-->
  <h2>Agrega un comentario:</h2>
  <%= render "comments/form" %>
<% end %>  <!-- Quitar el # de lo anterior para que solo el usuario cree un post-->
 
<br />
 
<% if current_user.username == @post.name %> 
  <%= link_to 'Editar Post', edit_post_path(@post) %> |
<% end %>
<%= link_to 'De vuelta a los foros', forums_path %> |