<p id="notice"><%= notice %></p>

    <div class="container">
      <div class="row">
        <div class="col-sm-12"></div>
      </div>
      <div class="row">
        <div class="col-sm-1">
          <div class="thumbnail">
            <%= image_tag(User.find_for_authentication(:username => @post.name).avatar.url , :alt => "user view") %>
          </div>
        </div>
        <div class="col-sm-10">
          <div class="panel panel-default">

            <div class="panel-heading">
              <strong><%=  @post.title %></strong>
              <span class="text-muted">
                Hace <%= time_ago_in_words (Time.now - @post.created_at).seconds.from_now %> 
              </span>
              <em>
                <span style="float: right; " class="text-muted">
                  <% if user_signed_in? %>
                    <% if  current_user.username == @post.name %>
                      <%= link_to 'Editar', edit_post_path(@post) %> |
                      <%= link_to 'Eliminar', [@post.forum, @post],
                       :confirm => '多Estas seguro que deseas borrarlo?',
                       :method => :delete %>

                    <% elsif current_user.admin? or moderadores(@post.forum).include? current_user.id %>
                      <%= link_to 'Editar', edit_post_path(@post) %> |
                      <%= link_to 'Eliminar', [@post.forum, @post],
                       :confirm => '多Estas seguro que deseas borrarlo?',
                       :method => :delete %>

                    <% end %>
                  <% end %>
                </span>
              </em>
            </div>

            <div class="panel-body">
              <p><%= markdown(@post.content) %></p>
              <p><%= image_tag @post.image %></p>
            </div>

          <div class="panel-footer">
            <span style="float: left;" class="text-muted">
              <em><%= @post.name %></em>
            </span>
            <span style="float: right;" class="text-muted">
              <a id = "countlike" onclick="like(<%=@post.id%>)">Like</a>
              <a id = "countdislike" onclick="dislike(<%=@post.id%>)">Dislike</a>
            </span>
            <div style="text-align: center;" class="text-muted">
              Se tiene
              <span class="post-points" id="points-vote-<%= @post.id %>">
              <%= @post.points %>
              </span> 
              puntos //
              <span class="votes-like-count" id="likes-vote-<%= @post.id %>">
                <%= @post.get_likes.size%>
              </span>
              likes //
              <span class="votes-dislike-count" id="dislikes-vote-<%= @post.id %>">
                <%= @post.get_dislikes.size%>
              </span>
              dislikes
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

<h2>Comentarios</h2>

<% @post.comments.each do |comment| %>
  <div class="container">
    <div class="row">
      <div class="col-sm-12"></div>
    </div>
    <div class="row">
      <div class="col-sm-1">
        <div class="thumbnail">
          <%= image_tag(User.find_for_authentication(:username => comment.commenter).avatar.url , :alt => "user view") %>
        </div>
      </div>
      <div class="col-sm-10">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong><%= comment.commenter %></strong>
            <span class="text-muted">
              Hace <%= time_ago_in_words (Time.now - comment.created_at).seconds.from_now %> 
            <span style="float: right; ">
              <% if user_signed_in? %>
                <% if  current_user.username == comment.commenter %>
                  <%= link_to 'Editar', edit_post_comment_path(@post, comment) %>
                  <%= link_to 'Borrar comentario', [comment.post, comment],
                   :confirm => '多Estas seguro que deseas borrarlo?',
                   :method => :delete %>

                <% elsif  current_user.admin? or moderadores(@post.forum).include? current_user.id %>
                  <%= link_to 'Borrar comentario', [comment.post, comment],
                   :confirm => '多Estas seguro que deseas borrarlo?',
                   :method => :delete %>
                <% end %>
              <% end %>
            </span>
            </span>
          </div>
          <div class="panel-body">
              <p><%= markdown(comment.body) %></p>
              <p><%= image_tag comment.image %></p>
          </div>
            <div class="panel-footer">
              <span style="float: left;" class="text-muted">
                <em><%= @post.name %></em>
              </span>
              <span style="float: right;" class="text-muted">
              <a id = "countlike" onclick="clike(<%=comment.id%>)">Like</a>
              <a id = "countdislike" onclick="cdislike(<%=comment.id%>)">Dislike</a>
              </span>
              <div style="text-align: center;" class="text-muted">
                Se tiene
                <span class="c-post-points" id="c-points-vote-<%= comment.id %>">
                <%= comment.points %>
                </span> 
                puntos //
                <span class="c-votes-like-count" id="c-likes-vote-<%= comment.id %>">
                  <%= comment.get_likes.size%>
                </span>
                likes //
                <span class="c-votes-dislike-count" id="c-dislikes-vote-<%= comment.id %>">
                  <%= comment.get_dislikes.size%>
                </span>
                dislikes
              </div>

            </div>
        </div>
      </div>
    </div>
  </div>
<% end %>



 
<% if user_signed_in? %>  <!-- Quitar el # de lo anterior para que solo el usuario cree un post-->
  <h2>Agrega un comentario:</h2>
  <%= render "comments/form" %>
<% end %>  <!-- Quitar el # de lo anterior para que solo el usuario cree un post-->


 
<% if user_signed_in? and current_user.username == @post.name %> 
  <%= link_to 'Editar Post', edit_post_path(@post) %> |
<% end %>
<%= link_to 'De vuelta a ' + @post.forum.name, @post.forum %>

