<%= form_with(model: attempt, local: true) do |form| %>
  <% if attempt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attempt.errors.count, "error") %> prohibited this attempt from being saved:</h2>

      <ul>
      <% attempt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%#= form.label :user_id%>
    <%= form.hidden_field :user_id, :value => current_user.id%>
    <%= form.hidden_field :poll_id, :value => @poll.id%>
    <%#= form.number_field :user_id, id: :attempt_user_id %>
  </div>

  <!--<div class="field">
    <%#= form.label :question_id %>
    <%#= form.number_field :question_id, id: :attempt_question_id %>
  </div>-->
  <% @poll.questions.each do |question| %>
    <%# if not question.content.blank? %>
      <%#  if question.attempts.where(user_id: 1) != [] %>
      <p><%#= form.check_box :question_id, checked: true%><%#= question.content %></p>
      <%# else %>
      <p><%= form.check_box :question_id, { multiple: false }, question.id, false %><%= question.content %></p>
      <%# end %>
    <%# end %>
  <% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
