<header class="navbar navbar-fixed-top">
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <li><%= link_to "Grupo 2", root_path, :class => "navbar-brand",:id => "logo" %></li>

    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
          <p span class="nav navbar-text">Sesion iniciada como <%= current_user.username %></p>
          <% if current_user.admin? %>
          <li><%= link_to "Admin", profile_path , :class => 'navbar-link'  %></li>
          <% end %>
          <li><%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %></li>
          <li><%= link_to "Salir", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>


      <% else %>
          <li><%= link_to "Registrarse", new_user_registration_path, :class => 'navbar-link'  %></li>
          <li><%= link_to "Ingresar", new_user_session_path, :class => 'navbar-link'  %></li>
      <% end %>

      
    </ul>
  </div>
</nav>
</header>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>